{% load staticfiles %}
<html ng-app="ratingsApp">
<head>
    <title>Weekly Rating App</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/ratings.css' %}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="{% static 'js/ratings_app.js' %}"></script>
</head>

<body>
<div class="navbar navbar-default">
    <div class="col-md-6 col-lg-6 col-sm-6">
    <h1 class="app-title">Weekly Rating App</h1>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 text-right padding-top-15 padding-bottom-15">
    </div>
</div>
{% block content %}
{% endblock %}

</body>
</html>