<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg margin-top-15" data-toggle="modal" data-target="#historicModal">
    <span class="glyphicon glyphicon-search"></span> History
</button>

<!-- Modal -->
<div class="modal fade text-center" id="historicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg ">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="historicModalLabel">Rating History</h4>
            </div>
            <div class="modal-body">

                <div class="bs-history-tabs">

                    <div id="myTabContent" class="tab-content">

                        <div class="tab-pane fade active in" id="home">
                            <table class="table table-hover table-responsive">
                                <thead>
                                <tr>
                                    <td>Date</td>
                                    <td>Average</td>
                                    <td>Median</td>
                                    <td>Count</td>
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="stat in rating_stats" id="[[$index]]" class="historic-rating">
                                    <td>[[stat.date]]</td>
                                    <td>[[stat.average]]</td>
                                    <td>[[stat.median]]</td>
                                    <td>[[stat.count]]</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
