{% extends 'ratings/base.html' %}

{% block content %}

{#Write some text in textbox:#}
{#<input type="text" ng-model="sometext">#}
{##}
{#<h1 ng-show="sometext">Hello [[ sometext ]]</h1>#}
{##}
{#<h4>Uppercase: [[ sometext|uppercase ]]</h4>#}
{#<h4>Lowercase: [[ sometext|lowercase ]]</h4>#}


<div class="container stylish-well-1" ng-controller="RatingsController">
    <div class="row">
        <div class="col-md-6">
            <div class="stylish-header-div-1">Add Ratings for {% now "jS F Y" %}</div>
        </div>

        <div class="col-md-6 text-right padding-right-30">
            {% include 'ratings/history.html' %}
        </div>
    </div>

    <div class="stylish-well-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="row margin-bottom-15">
                    <div class="form-group col-sm-6 col-md-6 col-lg-6">
                        <label for="name">Name</label>
                        <input class="form-control" maxlength="15" type="text" id="name" ng-model="new_rating_name" ng-keypress="add_keypress($event)">
                    </div>
                    <div class="form-group col-sm-3 col-md-3 col-lg-3">
                        <label for="new_rating">Rating</label>
                        <input class="form-control" id="new_rating" type="number" min="1" max="10" ng-model="new_rating" ng-keypress="add_keypress($event)">
                    </div>
                    <div class="form-group col-sm-3 col-md-3 col-lg-3 add-btn-container">
                        <button class="btn btn-success btn-lg btn-add" ng-click="add()">
                            <span class="glyphicon glyphicon-plus"></span> Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
{#            <ul>#}
{#                <li ng-repeat="rating in ratings"> [[ rating ]] </li>#}
{#            </ul>#}
            <div ng-repeat="rating in ratings track by $index" class="col-md-3 col-sm-4 col-xs-6 rating" id="[[$index]]" ng-click="delete([[$index]])">
                <div class="well">
                    {# ng-show if name #}
                    <strong>[[rating.name]]:</strong><span class="rating-value"> [[rating.value]]</span>

                </div>
            </div>
{#            {{ else }}#}
{#            <div class="col-md-12">#}
{#                <div class="well">#}
{#                    Nothing to show.#}
{#                </div>#}
{#            </div>#}

        </div>

        <div class="row row-input-buttons">

                <div class="col-md-6">
{#                    <div class="alert alert-success" role="alert">#}
{#                        Average: <span id="day-average" data-val="{{averages.[0]}}">{{averages.[0]}}</span>,#}
{#                        Count: <span id="day-count" data-val="{{averages.[1]}}">{{averages.[1]}}</span>,#}
{#                        Median: <span id="day-median" data-val="{{averages.[2]}}">{{averages.[2]}}</span>#}
{#                    </div>#}
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-danger delete-all btn-lg"><span class="glyphicon glyphicon-remove"></span> Clear</button>
                    <button class="btn btn-primary save btn-lg"><span class="glyphicon glyphicon-save"></span> Save</button>
                </div>

            <div class="col-md-12">
                <div class="ratings-status"></div>
            </div>
        </div>
    </div>

</div>
{% endblock %}