<!-- Greeting template -->
<template name="greeting">
</template>

<!-- Rating Display template -->
<template name="ratings">

    {{ #each ratings }}
    <div class="col-md-3 col-sm-4 col-xs-6 rating" id="{{_id}}">
        <div class="well">
            {{ #if name }}<strong>{{name}}:</strong>{{ /if }}<span class="rating-value"> {{rating}}</span>
        </div>
    </div>
    {{ else }}
    <div class="col-md-12">
        <div class="well">
            Nothing to show.
        </div>
    </div>
    {{ /each }}

</template>

<!-- Input Buttons template -->
<template name="input_buttons">
    <!-- also displays alert with averages and count -->
    {{ #if averages.[0] }}
    <div class="col-md-6">
        <div class="alert alert-success" role="alert">
            Average: <span id="day-average" data-val="{{averages.[0]}}">{{averages.[0]}}</span>,
            Count: <span id="day-count" data-val="{{averages.[1]}}">{{averages.[1]}}</span>,
            Median: <span id="day-median" data-val="{{averages.[2]}}">{{averages.[2]}}</span>
        </div>
    </div>
    <div class="col-md-6 text-right">
        <button class="btn btn-danger delete-all btn-lg"><span class="glyphicon glyphicon-remove"></span> Clear</button>
        <button class="btn btn-primary save btn-lg"><span class="glyphicon glyphicon-save"></span> Save</button>
    </div>
    {{/if}}
</template>

<!-- Input template -->
<template name="input">

    <div class="row">
        <div class="form-group col-sm-6 col-md-6 col-lg-6"><label for="name">Name</label> <input class="form-control"
                                                                                                 maxlength="15"
                                                                                                 type="text" id="name">
        </div>
        <div class="form-group col-sm-6 col-md-6 col-lg-6"><label for="rating">Rating</label> <input
                class="form-control" type="number" min=1 max=10 id="rating"></div>
    </div>

</template>
